
<div class="panel panel-primary" ng-if="profile.marker.type=='human'">
  <div class="panel-heading">
    <div>{{profile.marker.name}}</div>
    <span class="badge">0</span>
  </div>
  <div class="panel-body">
    <div class="media namecard">
      <div class="media-left media-middle profile">
        <img class="media-object img-l" ng-src="{{getImage(profile.marker.data.img)}}">
      </div>
      <div class="media-body">
        <div class="details">
          <h4 class="media-heading"> {{profile.marker.data.nickname}} {{profile.marker.data.surname}}</h4>
          <div class="row">
            <div class="col-xs-6"><span class="glyphicon glyphicon-plus"></span>{{profile.marker.data.department}}</div>
            <div class="col-xs-6"><span class="glyphicon glyphicon-plus"></span>{{profile.marker.data.title}}</div>
          </div>
          <div class="row">
            <div class="col-xs-6"><span class="glyphicon glyphicon-plus"></span>{{profile.marker.data.location}}</div>
            <div class="col-xs-6"><span class="glyphicon glyphicon-plus"></span>{{profile.marker.data.phone}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <span class="pull-left">View Details</span>
    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
    <div class="clearfix"></div>
  </div>
</div>

<div class="panel panel-primary" ng-if="profile.marker.type=='sensor'">
  <div class="panel-heading">
    <div>{{profile.marker.name}}</div>
  </div>
  <div class="panel-body">
    <div class="media namecard">
      <div class="media-left media-middle profile">
        <img class="media-object img-l" ng-src="{{getImage(profile.marker.data.img)}}">
      </div>
      <div class="media-body">
        <div class="details">
          <div class="row" ng-repeat="(key,value) in profile.marker.data.data">
            <div class="col-xs-6"><span class="glyphicon glyphicon-plus"></span>{{key}}</div>
            <div class="col-xs-6">{{value}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-primary" ng-if="profile.marker.type=='asset'">
  <div class="panel-heading">
    <div>{{profile.marker.name}}</div>
  </div>
  <div class="panel-body">
    <div class="media namecard">
      <div class="media-left media-middle profile">
        <img class="media-object img-l" ng-src="{{getImage(profile.marker.data.img)}}">
      </div>
      <div class="media-body">
        <input type="button" class="form-control" ng-click="">
      </div>
    </div>
  </div>
</div>