

<!-- Modal -->
<div class="modal fade" id="notificationsModal" ng-init="getNotification()">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <button type="button" class="back" ng-click="readNotification(); closeModal()">
            <span class="glyphicon glyphicon-chevron-left"></span> 
          </button>
          Notification
          <span class="pull-right">
            <button class="btn btn-default" ng-click="getNotification()"><span class="glyphicon glyphicon-refresh"></span></button> 
          </span>
        </h4>
      </div>
      <!--end of modal-header-->

      <div class="modal-body" id="model_body">
        <ul class="list-group small notification">
          <li class="list-group-item" ng-if="!notifications.length">
            <h4>No notification</h4>
          </li>
          <li class="list-group-item" ng-class="{'unread':notification.isNew}" ng-repeat="notification in notifications | orderBy:created_at">
            <div><i class="fa fa-comment fa-fw"></i> {{notification.message}}</div>
            <div class="row">
              <span class="col-xs-6 pull-right text-muted small">{{notification.created_by}}</span>
              <span class="col-xs-6 pull-right text-muted small">{{notification.created_at}}</span>
            </div>
          </li>
        </ul>
      </div>

      <div class="modal-footer">
        <button class="btn btn-default" ng-click="readNotification(); closeModal()">Cancel</button>
      </div>
    </div>
    <!-- /modal-content -->
  </div>
</div>
<!--end of modal-->